@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@500;800&display");
body {
    font-family: 'Work Sans', sans-serif;
    line-height: 1.6;
}

.socmed li :hover {
    background-color: black;
    color: white;
    transition: 0.2s ease-in-out;
}

.panel ul {
    list-style-type: none;
    margin-bottom: 5vh;
    margin-top: 5vh;
}

.panel li {
    display: inline;
    margin-right: 20%;
    margin-bottom: 10vh;
}

.panel li a {
    text-decoration: none;
    color: black;
    border: 1px solid;
    padding: 10px;
}

.container {
    margin: 5em 5em 5em 5em;
}

#tag {
    position: relative;
    margin-top: 40vh;
}


/* Style the buttons that are used to open and close the accordion panel */

.accordion {
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 80%;
    text-align: left;
    transition: 0.4s;
    font: 30px;
    font-family: 'Work Sans', sans-serif;
    margin-right: 0px;
    border-color: white;
}


/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */

.active,
.accordion:hover {
    background-color: white;
    color: black;
}


/* Style the accordion panel. Note: hidden by default */

.panel {
    width: 80%;
    padding: 0 18px;
    max-height: 0;
    overflow: auto;
    transition: max-height 0.2s ease-out;
}

.accordion:after {
    content: '\02795';
    /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796";
    /* Unicode character for "minus" sign (-) */
}

#header {
    font-size: 50px;
    text-align: left;
    color: black;
    line-height: 0;
}

ul#ul_accordion {
    list-style: none;
}

ul#ul_accordion li:not(:last-child) {
    margin-bottom: 5px;
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    color: white;
}

.myButton {
    background-color: #000000;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 10px;
    padding: 7px 22px;
}

.myButton:hover {
    background-color: #ffffff;
    color: black;
}

.myButton:active {
    position: relative;
    top: 1px;
}

@media (max-width:500px) {
    ul#juke li {
        display: vertical;
        list-style: none;
        margin-left: 0;
    }
    .container {
        margin: 3em 3em 3em 3em;
    }
    #header {
        font-size: 35px;
    }
}