{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Story8</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'style2.css' %}">
    <script src="{% static 'jquery-3.5.0.min.js' %}"></script>
    <!-- To ensure proper rendering and touch zooming in Mobile Phones -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>

    <div class="container">

        <ul class="ul_accordion" style="list-style: none;">
            <li>
                <a onclick="up()" class="myButton">↑</a> <a onclick="down()" class="myButton">↓</a>

                <!--        <button  onclick="up()" type="button" class="up_button">up</button> <button onclick="down()" type="button" class="down_button">down</button>-->
                <button class="accordion">ABOUT ME</button>
                <div class="panel">
                    <p>Hi, My name is Kevin Muhammad Afiza Kurniawan. I am an undergraduate of computer science student in the University of Indonesia.
                    </p>
                </div>

            </li>
            <li>
                <a onclick="up()" class="myButton">↑</a> <a onclick="down()" class="myButton">↓</a>

                <button class="accordion">EXPERIENCES</button>
                <div class="panel">
                    <p>I love music producing and playing the instruments. Computer science doesnt stop me from being a music producer, instead it could help me get bigger. As it turns out, programming is a ton of fun and I am interested, especially in web
                        design. Currently I've officially produced 2 musics for my high school and a lot more to come. I have also been the vfx editor for my school event.</p>
                </div>
            </li>
            <li>
                <a onclick="up()" class="myButton">↑</a> <a onclick="down()" class="myButton">↓</a>
                <button class="accordion">SOCIAL MEDIA</button>
                <div class="panel">
                    <ul class="socmed">
                        <li><a href="https://www.instagram.com/kevin_afwan/">instagram</a></li>
                        <li><a href="https://twitter.com/afiza_k">twitter</a></li>

                    </ul>
                </div>
            </li>
            <li>
                <a onclick="up()" class="myButton">↑</a> <a onclick="down()" class="myButton">↓</a>

                <button class="accordion">ACHIEVEMENTS</button>
                <div class="panel" style="padding: 0 0;">
                    <ul>
                        <li>FIRST Robotic Competition 2nd place International</li>
                        <li>Conoco Philip Scholarship 2018 & 2019</li>
                    </ul>
                </div>
            </li>
        </ul>
        <br>
        <p id="tag">Kevin Muhammad Afiza Kurniawan<br>afizakevin@gmail.com
            <p>

    </div>


    <script type="text/javascript">
        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var panel = this.nextElementSibling;
                if (panel.style.maxHeight) {
                    panel.style.maxHeight = null;
                } else {
                    panel.style.maxHeight = panel.scrollHeight + "px";
                }
            });
        }

        function up() {
            var list = document.querySelector(".ul_accordion");
            list.insertBefore(event.currentTarget.parentNode, (event.currentTarget.parentNode).previousElementSibling);
        }

        function down() {
            var list = document.querySelector(".ul_accordion");
            list.insertBefore((event.currentTarget.parentNode).nextElementSibling, event.currentTarget.parentNode);
        }
    </script>
</body>

</html>